<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note QR</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main
      class="my-5 flex justify-center items-center h-screen flex-col gap-10"
    >
      <div class="w-full shadow rounded-xl max-w-3xl p-10 bg-yellow-50/30">
        <h3 class="text-xl font-bold">Quote of the day</h3>
        <p
          hx-get="/quote"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-vals="content"
        ></p>
      </div>
      <div class="w-full shadow rounded-xl max-w-3xl p-10">
        <h3 class="text-xl font-bold">Your note</h3>
        <%- note %>
      </div>
    </main>
  </body>
</html>
